@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width:1170px;
  margin: auto;
}

.title {
  position: relative;
  background-color:#F17000;
  color:#ffffff;
  padding: 20px;
  font-weight: 700;
  font-size:25px;
  border-radius: 5px;
  text-align: center;
}

.question {
  font-size:20px;
  font-weight:600;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color:#ffffff;
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color:#F17000;
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size:15px;
  color:#ffffff;
  font-weight:600;
  border-radius: 4px;
  cursor: pointer;
}

.score-board {
   
  height:100vh;
}

.score {
  margin-top:100px;
  font-size:25px;
  font-weight: 700;
  text-align: center;
}

.playBtn {
  position: absolute;
  font-size:25px;
  padding: 10px;
  top: 350px;
  background-color: #F17000;
  color: rgb(255, 255, 255);
  border-radius:10px;
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
  border: none;
}
